#wrapper{
    width: 90%;
    height: 100%;
    position: relative;
    // border: 1px solid black;
    margin-left: 60px;    
    background-color: paleturquoise;
    margin-top: 65px;
}
#content{
    width: 90%;
    height: 100%;
    position: absolute;
    //border: 1px solid black;
    background-color: aqua;
    margin-left: 75px;
    position: absolute;
   

}

#header{
    
    width: 100%;
    height: 65px;
    position: absolute;
  
    background-color: aquamarine;
}
#sideMenu{
   
    width: 45px;
    height: 84%;
    position: absolute;

    background-color: midnightblue;
}
#footer{

    width: 100%;
    height: 60px;
    position: absolute;
 
    background-color: deepskyblue;

}
#sideMenu table{

    position:relative;

}
#sideMenu table tr td{
    position:relative;
    table-layout: fixed; 
    width: 35px;
    height: 35px;


}